
#(function() {
#  var message = '<%= j "<b>Tarefas processadas.</b><br>#{@processed_issues.join("<br>")}" %>';
#  var dialogHtml = '<div id="dialog-message" title="Criar Retorno de Testes">' + message + '</div>';
#  
#  $(dialogHtml).dialog({
#    modal: true,
#    buttons: {
#      Ok: function() {
#        $(this).dialog("close");
#        window.location.reload();
#      }
#    }
#  });
#})();




(function() {
  var message = <%= raw json_escape("Tarefas de Retorno de Teste criadas com sucesso!<br><br>Tarefas processadas:<br>#{@processed_issues.join("<br>")}") %>;
  var dialogHtml = $('<div>', {
    id: 'dialog-message',
    title: 'Criar Retorno de Testes',
    html: message
  });
  
  dialogHtml.dialog({
    modal: true,
    width: 'auto',
    maxWidth: 600,
    buttons: {
      Ok: function() {
        $(this).dialog("close");
        window.location.reload();
      }
    }
  });
})();
