<li><%= context_menu_link "Criar tarefa de retorno de testes",
                         criar_retorno_testes_qs_path(id: @issue.id),
                         :remote => true,
                         class: "icon icon-copy" %></li>
