<% if @issue_ids.present? %>
  <% @issues = Issue.where(id: @issue_ids).includes(:project, :status) %>
  <% all_tasks_valid = @issues.all? do |issue| %>
    <% issue.project.present? && issue.status.present? &&
         ["Notarial - QS", "Registral - QS"].include?(issue.project.name) &&
         issue.status.name == "Teste NOK" %>
  <% end %>
<% else %>
  <% if @issue.present? %>
    <% all_tasks_valid = ["Notarial - QS", "Registral - QS"].include?(@issue.project.name) && (@issue.status.name == "Teste NOK") %>
  <% else %>
    <% all_tasks_valid = false %>
  <% end %>
<% end %>

<% if all_tasks_valid %>
  <li><%= context_menu_link "Criar tarefa de retorno de testes",
                            criar_retorno_testes_qs_lote_path(ids: @issue_ids),
                            remote: true,
                            class: "icon icon-copy" %></li>
<% end %>

   
