<% all_tasks_valid_qs = false %> 
<% all_tasks_valid_devel = false %>

<% if @issue_ids.present? %>  
  <% all_tasks_valid_qs = @issues.all? do |issue| %>
    <% issue.project.present? && issue.status.present? &&
         ["Notarial - QS", "Registral - QS"].include?(issue.project.name) &&
         issue.status.name == "Teste NOK" %>
  <% end %>

  <% if !all_tasks_valid_qs %>
    <% all_tasks_valid_devel = @issues.all? do |issue| %>
      <% issue.project.present? && issue.status.present? &&
           !["Notarial - QS", "Registral - QS"].include?(issue.project.name) &&
           issue.status.name == "Resolvida" %>
    <% end %>
  <% end %>
<% else %>
  <% if @issue.present? %>
    <% all_tasks_valid_qs = ["Notarial - QS", "Registral - QS"].include?(@issue.project.name) && (@issue.status.name == "Teste NOK") %>
    <% all_tasks_valid_devel = !["Notarial - QS", "Registral - QS"].include?(@issue.project.name) && (@issue.status.name == "Resolvida") %>  
  <% end %>
<% end %>

<% if all_tasks_valid_qs %>
  <li><%= context_menu_link "Criar Retorno de Testes",
                            criar_retorno_testes_lote_path(ids: @issue_ids, tipo: "QS"),
                            remote: true,
                            class: "icon icon-copy" %></li>
<% elsif all_tasks_valid_devel %>
  <li><%= context_menu_link "Criar Retorno de Testes",
                            criar_retorno_testes_lote_path(ids: @issue_ids, tipo: "DEVEL"),
                            remote: true,
                            class: "icon icon-copy" %></li>      
<% end %>

   
