<li><%= context_menu_link "Criar tarefa de retorno de testes",
                         criar_retorno_testes_qs_lote_path(:ids => @issue_ids),
                         remote: true,
                         method: :post,
                         class: "icon icon-copy" %></li>

