<% all_tasks_valid_devel = false %>


<% if all_tasks_valid_devel %>
   <li><%= context_menu_link "Encaminhar QS",
                             encaminhar_qs_lote_path(ids: @issue_ids),
                             remote: true,
                             class: "icon icon-copy" %></li>
<% end %>
