/* app/assets/stylesheets/graficos.css */

.graficos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.grafico {
  flex: 1 1 45%;
  max-width: 45%;
  margin: 10px;
}

.grafico h3 {
  text-align: center;
}

@media (max-width: 800px) {
  .grafico {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

table.list.issues th {  
    white-space: normal;  
    word-wrap: break-word;  
    /* Opcional: ajustar a largura máxima da coluna */  
    max-width: 150px;  
  }  
